*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

test.cpp

axpy_cublas
axpy_kernel
axpy_omp
memcopy
memcopy2
memcopy3
blur
diffusion2d
diffusion2d_mpi
blur_twice
blur_twice.omp
dot

a.out

*.o
*.swp
*.swn
*.swo
*.swq

profile
